<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
</head>

<body>
  <h1> Student Database </h1>
  <div ng-app="myApp" ng-controller="MyCtrl">
    [<span ng-repeat="input in students">""</span>]:
    [<span ng-repeat="input in grades">""</span>]
    
    <div ng-repeat="input in grades">    
        Grades:<input type="text" ng-model="input.grades" />
        <button ng-click="removeInput($index)">Remove</button>
    </div>
    <div ng-repeat="input in students">
        Students:<input type="text" ng-model="input.students" />
        <button ng-click="removeInput($index)">Remove</button>
    </div>

    <button ng-click="addInput()">add input</button>
    Average: {{grades.length}}
<div ng-repeat="input in grades">
    {{input.grades}}
</div>
</div>
<button type='submit' ng-submit="submitTable()">Submit</button>
</body>
</html>

<html>
<div ng-app>
    <div ng-controller="GradeDatabase">
            <br />
      <table border="1">
        <thead>
          <tr>
            <td>Name</td>
            <td>Score</td>
                        <td>Remove Item</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.Name}}</td>
            <td ng-style="customStyle.style">{{item.Score}}</td>
            <td><input type="button" value="Remove" ng-click="removeItem($index)" /></td>
          </tr>
        </tbody>
      </table>
      <br />
      <div>Average: {{averageScore()}} </div>
      <div>"Min using Math.min "</div>
      <div> "Max using Math.max "</div>
      <br />
      <table>
        <tr>
          <td>Name: </td>
          <td><input type="text" ng-model="item.Name" /></td>
        </tr>
        <tr>
          <td>Score: </td>
          <td><input type="number" ng-model="item.Score" id="score" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="Button" value="Add" ng-click="addItem(item)" /> </td>
          
        </tr>
      </table>
    </div>
  </div>
</html>